<style>

.collection-promo { padding: 20px; }

</style>


<div class="collection-promo page-width">
  <div style="background: linear-gradient(135deg, #1d976c, #93f9b9); padding:30px; border-radius:6px; color:#fff; text-align:center;">
    <h3>🔥 Weekend Extravaganza</h3>
    <p>Take extra 20% off all catalog elements using checkout code: <strong>WEEKEND20</strong></p>
  </div>
</div>


{% schema %}
{
  "name": "Collection Promo Banner",
  "tag": "section",
  "class": "shopify-section-collection-promo-banner",
  "settings": [],
  "presets": [
    {
      "name": "Collection Promo Banner"
    }
  ]
}
{% endschema %}
