<div class="404-page page-width text-center">
  <h1>404 Page Not Found</h1>
  <p>The page you were looking for does not exist.</p>
  <a href="{{ routes.root_url }}" class="btn btn--primary">Go to Homepage</a>
</div>
